{% extends 'keuangan/base.html' %}
{% block content %}
{% load static %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>{{title}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'staffgereja' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pengeluaran' 'semua' %}">Penerimaan</a></li>
        <li class="breadcrumb-item active">{{title}} - {{detail.uraian}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      

      <div class="col-xl-12">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Detail</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Perbarui</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                
                <h5 class="card-title">{{title}}</h5>
                <form class="row g-3" action="" method="POST">
                  {% csrf_token %} 
                  <div class="col-md-7">
                    <div class="label">Uraian</div>
                    <input type="text" class="form-control" value="{{detail.uraian}}" name="uraian" readonly>
                  </div>
                  <div class="col-md-5">
                    <div class="label">Kategori</div>
                    <input type="text" class="form-control" value="{{detail.kategori}}" name="uraian" readonly>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="label">Jumlah Penerimaan</div>
                    <input type="text" class="form-control" value="{{detail.jumlah}}" name="uraian" readonly>
                  </div>
                  <div class="col-md-3">
                    <div class="label">Huria (45%)</div>
                    <input type="text" class="form-control" value="{{detail.huria}}" name="uraian" readonly>
                  </div>
                  <div class="col-3">
                    <div class="label">Pusat (55%)</div>
                    <input type="text" class="form-control" value="{{detail.pusat}}" name="uraian" readonly>
                  </div>
                  <div class="col-3">
                    <div class="label">Pembangunan</div>
                    <input type="text" class="form-control" value=" {{detail.pembangunan}}" name="uraian" readonly>
                  </div>
                  <div class="col-md-6">
                    <div class="label">Jenis</div>
                    <input type="text" class="form-control" value="{% if detail.jenis == True %}Penerimaan{% else %}Pengeluaran{% endif %}" name="uraian" readonly>
                  </div>
                  <div class="col-md-6">
                    <div class="label">Tanggal</div>
                    <input type="text" class="form-control" value="{{detail.tanggal|date:'d/m/Y'}}" name="uraian" readonly>
                  </div>
                  
                  <div class="modal-footer ">
                    <a href="{% url 'pengeluaran' 'semua' %}" class="btn btn-danger me-2">Kembali</a>
                  </div>
                </form>


              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <form class="row g-3" action="" method="POST">
                  {% csrf_token %} 
                  <div class="col-md-7">
                    <div class="label">Uraian</div>
                    <input type="text" class="form-control" placeholder="{{detail.uraian}}" name="uraian" value="{{detail.uraian}}">
                  </div>
                  <div class="col-md-5">
                    <div class="label">Kategori</div>
                    <select id="inputState" class="form-select" name="kategori" id="kategori">
                      {% comment %} <option value="{{detail.kategori}}">{{detail.kategori}}...</option> {% endcomment %}
                    {% for cat in kategori %}
                    <option value="{{cat.id}}" name="cat" id="cat">{{cat.title}}</option>
                    {% endfor %}
                  </select>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="label">Jumlah Penerimaan</div>
                    <input type="number" class="form-control" placeholder="{{detail.jumlah}}" name="jumlah" value="{{detail.jumlah}}">
                  </div>
                  <div class="col-md-3">
                    <div class="label">Huria (45%)</div>
                    <input type="number" class="form-control" placeholder="{{detail.huria}}" name="huria" value="{{detail.huria}}">
                  </div>
                  <div class="col-3">
                    <div class="label">Pusat (55%)</div>
                    <input type="number" class="form-control" placeholder="{{detail.pusat}}" name="pusat" value="{{detail.pusat}}">
                  </div>
                  <div class="col-3">
                    <div class="label">Pembangunan</div>
                    <input type="number" class="form-control" placeholder="{{detail.pembangunan}}" name="pembangunan" value="{{detail.pembangunan}}">
                  </div>
                  <div class="col-md-6">
                    <div class="label">Jenis</div>
                    <input type="text" class="form-control" value="{% if detail.jenis == True %}Penerimaan{% else %}Pengeluaran{% endif %}" placeholder="{% if detail.jenis == True %}Penerimaan{% else %}Pengeluaran{% endif %}" name="jenis" disable readonly>

                  </div>
                  <div class="col-md-6">
                    <div class="label">Tanggal</div>
                    <input type="date" class="form-control" placeholder="Tanggal" name="tanggal" value="{{detail.tanggal|date:'Y-m-d'}}">
                  </div>
                  
                  
                  <div class="modal-footer ">
                    <input type="submit" name="edit-keuangan" value="Ubah Data" class="btn btn btn-primary me-2"></input>
                    <a type="button" class="btn btn-danger me-2" data-bs-dismiss="modal">Kembali</a>
                  </div>
                </form>

              </div>

              

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
</main><!-- End #main -->

{% endblock content %}