{% extends 'keuangan/base.html' %}
{% block content %}
{% load static %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Staff</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'staffgereja' %}">Home</a></li>
          <li class="breadcrumb-item">Staff</li>
        </ol>
        <div class="filter ">
          <a class="icon" href="#" data-bs-toggle="modal" data-bs-target="#verticalycentered"><i class="bi bi-person-plus-fill text-success"> Tambah Staff Baru</i></a>
          <div class="modal fade" id="verticalycentered" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Tambahkan Staff Baru</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
              <form action="" method="POST" class="row g-3">
                {% csrf_token %} 
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Fullname" name="fullname">
                </div>
                <div class="col-md-6">
                  {{form.username}}
                </div>
                <div class="col-md-6">
                  <select id="inputState1" class="form-select" name="ps" id="ps">
                    <option>Posisi...</option>
                    
                    {% for ps in posisi %}
                      <option value="{{ps.id}}" name="ps" id="ps">{{ps.title}}</option>
                    {% endfor %}
                      
                  </select>
                </div>
                <div class="col-md-4">
                  {{form.email}}
                </div>
                <div class="col-md-4">
                  {{form.password1}}
                </div>
                <div class="col-4">
                  {{form.password2}}
                </div>
                
                <div class="modal-footer">
                  <input type="submit" name="add-staff" value="Submit" class="btn btn btn-primary"></input>

                  <button type="reset" class="btn btn-secondary">Reset</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div><!-- End Page Title -->
    
    <section class="section dashboard">
      <div class="row">
        
        <!-- Left side columns -->
        <div class="col-lg-12">
          
          <div class="card pt-4">
            
            <div class="card-body ">
              
              <!-- Default Table -->
              <table class="table" id="tabel-anggota">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Jabatan/Posisi</th>
                    {% comment %} <th scope="col">Aksi</th> {% endcomment %}
                  </tr>
                </thead>
                <tbody>
                  {% for stf in staff %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{stf.fullname}}</td>
                    <td>{{stf.posisi}}</td>
                    {% comment %} <td><a href="{{agt.get_url}}" class="btn btn-warning btn-sm"><i class="bi bi-pencil">Preview</i></a></td> {% endcomment %}
                    
                  </tr>
                    {% endfor %}
                      
                  
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
        </div><!-- End Left side columns -->

        

      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}