{% extends 'user-auth/auth_base.html' %}
{% block content %}
{% load static %}


  <!--Password Reset Confirm-->
  <section id="featured-log" class="featured-reg" style="margin-top:100px">
    <div class="container">
    
        <form method="POST" >
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-4" id="forum">
                    <div class="icon-box" style="border-top: 10px solid #ED7966"> 
                        <img src= {% static "assets/img/authlogo.png" %} alt="" class="pb-4">
                        <h3><a href="{% url 'forum' %}">Konfirmasi Reset Password</a></h3>
                        <hr style="max-width:70%;" class="mx-auto">
                        <p class="text-break mx-auto">
                            Silahkan Masukkan Password Baru Anda 
                        </p>
                        {% if form.errors %}
                            {% for field, error in form.errors.items %}
                                {% if field != '__all__' %}{{ field }}{% endif %}
                                <div class="alert alert-danger">
                                {{ error | striptags }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                            <div class="form-group mt-2 mx-auto col-8 text-center">
                                {{ form }}  
                            </div>
                           
                                                                               
                           
                                <button class="btn btn-sm btn-secondary rounded-pill mx-auto mt-3" style="width:25%;" type="submit">Reset</button>
                            
                            
                                
                            </div>
                           
                            </div>
                    </div>   
                </div>
            </div>
        </form> 
    </div>
</section>

{% endblock content %}