{% extends 'user-auth/auth_base.html' %}
{% block content %}
{% load static %}

{% load crispy_forms_tags %}          

<section id="featured-log" class="featured-reg" style="margin-top:100px">
    <div class="container">
    
        
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-4" id="forum">
                    <div class="icon-box" style="border-top: 10px solid #ED7966"> 
                        <img src= {% static "assets/img/authlogo.png" %} alt="" class="pb-4">
                        <h3><a href="{% url 'forum' %}">Password reset sent</a></h3>
                        <hr style="max-width:70%;" class="mx-auto">
                        <p class="text-break mx-auto">
							We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                        </p>
                        
                            </div>
                           
                            </div>
                    </div>   
                </div>
            </div>
    </div>
</section>


{% endblock content %}